/*
 * DOCUMENTATION Theme LAYOUT css can be found here
 */

/**************************************** defaults */
h1 {
	display: block;
}
p {
	display: block;
}
a { outline: none; }
ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

/************************************* wrappers */
#header_wrap, #project_wrap, #content_wrap, #footer_wrap {
	font-size: 1em;
}

/************************************ header / footer theme styles */
#header {
	padding: 30px 0px 30px 5px;
	position: relative;
}
#header, #project, #content, #footer {
	width: 960px;
	margin: 0px auto;
	font-size: 1.1em;
}
#header_wrap {
	color: #555;
}
.logoarea {
	float: left;
}
h1.logo, h1.logo a, h2.posttitle, h2.posttitle a, .info h2 a, .info h2, h4.title {
	color: #333;
}
.post h2.posttitle, h4.title, h1.logo, .module h4, h3.pagetitle {
	font-family: Helvetica, Arial, sans-serif;
}
h1.logo {
width: auto;
font-size: 2.85em;
font-weight: bold;
letter-spacing: -1px;
position: relative;
z-index: 100;
}
h1.logo a {
text-decoration: none;
}
a, p.description {
color: #4A9DAA;
}
p.description {
text-transform: uppercase;
letter-spacing: 1px;
}


/*********************************** header menu */
.main_nav ul {
	top: 25px;
	width: 650px;
	text-align: right;
	position: absolute;
	right: 0px;
	text-transform: uppercase;
	float: right;
}
.main_nav ul li.left {
	border: none;
}
.main_nav ul li {
	border-left: 1px solid #CCC;
	display: inline;
	list-style: none;
	padding: 0px 15px;
	position: relative;
}
.main_nav ul li a {
	padding-bottom: 3px;
	text-decoration: none;
}
.main_nav ul li.current_page_item a, #home li.left a, .main_nav ul a:hover {
	border-bottom: 1px dotted #333;
}








